package ${package}.${moduleName}.api.dto;

import io.swagger.v3.oas.annotations.media.Schema;
#if($hasRequiredChildFields)
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotNull;
#end
import lombok.Data;
#foreach($import in $childImportList)
import ${import};
#end

@Data
@Schema(description = "${tableComment}明细")
public class ${ChildClassName}DTO {

	@Schema(description = "明细ID")
	private Long id;

#if($childField != 'id')
	@Schema(description = "主表关系键")
	private ${childRelationType} ${childField};

#end
	#foreach($field in $childFormList)
#if($field.formRequired == '1')
#if($field.attrType == 'String')
	@NotBlank(message = "$!field.fieldComment不能为空")
#else
	@NotNull(message = "$!field.fieldComment不能为空")
#end
#end
	@Schema(description = "$!field.fieldComment")
	private ${field.attrType} ${field.attrName};

#end
}
