import request from '/@/utils/request';

export interface ${ChildClassName}Form {
	id?: string;
#if($childField != 'id')
#if($childRelationType == 'String')
	${childField}?: string;
#else
	${childField}?: number;
#end
#end
#foreach($field in $childFormList)
	${field.attrName}#if($field.formRequired != '1')?#end: #if($field.attrType == 'String')string#else number#end;
#end
}

export interface ${ClassName}Form {
	id?: string;
#foreach($field in $formList)
#if($field.fieldName != 'id')
	${field.attrName}#if($field.formRequired != '1')?#end: #if($field.attrType == 'String')string#else number#end;
#end
#end
	children: ${ChildClassName}Form[];
}

export interface ${ClassName}ImportRowError {
	rowNumber: number;
	errors: string[];
}

export interface ${ClassName}ImportResult {
	success: boolean;
	code: string;
	totalRows: number;
	importedRows: number;
	errors: ${ClassName}ImportRowError[];
}

const baseUrl = '/${moduleName}/${functionName}';

export const fetchList = (query?: Record<string, unknown>) => request({ url: baseUrl + '/page', method: 'get', params: query });
export const getObj = (id: string) => request({ url: baseUrl + '/details/' + id, method: 'get' });
export const addObj = (data: ${ClassName}Form) => request({ url: baseUrl, method: 'post', data });
export const putObj = (data: ${ClassName}Form) => request({ url: baseUrl, method: 'put', data });
export const delObj = (ids: string[]) => request({ url: baseUrl, method: 'delete', data: ids });
export const importRows = (file: File) => {
	const data = new FormData();
	data.append('file', file);
	return request<${ClassName}ImportResult>({ url: baseUrl + '/import', method: 'post', data });
};
export const exportRows = (query?: Record<string, unknown>) => request({
	url: baseUrl + '/export', method: 'get', params: query, responseType: 'blob',
});
