<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotus.bixi.workflow.mapper.WfProcessInstanceMapper">

    <resultMap id="baseResultMap" type="com.lotus.bixi.workflow.api.entity.WfProcessInstance">
        <id column="id" property="id"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_key" property="processKey"/>
        <result column="business_key" property="businessKey"/>
        <result column="business_table" property="businessTable"/>
        <result column="business_id" property="businessId"/>
        <result column="title" property="title"/>
        <result column="start_user_id" property="startUserId"/>
        <result column="start_user_name" property="startUserName"/>
        <result column="status" property="status"/>
        <result column="end_time" property="endTime"/>
        <result column="duration" property="duration"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="remark" property="remark"/>
    </resultMap>

</mapper>
