<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotus.bixi.upms.mapper.SysMenuMapper">

    <!--通过角色查询菜单信息-->
    <select id="listMenusByRoleId" resultType="com.lotus.bixi.upms.api.entity.SysMenu">
        SELECT sys_menu.id,
               sys_menu.name,
               sys_menu.en_name,
               sys_menu.permission,
               sys_menu.path,
               sys_menu.parent_id,
               sys_menu.icon,
               sys_menu.sn,
               sys_menu.keep_alive,
               sys_menu.type,
               sys_menu.create_time,
               sys_menu.update_time,
               sys_menu.del_flag,
               sys_menu.embedded,
               sys_menu.visible
        FROM sys_menu
                 LEFT JOIN sys_role_menu ON sys_menu.id = sys_role_menu.menu_id
        WHERE sys_role_menu.role_id = #{roleId}
        ORDER BY sys_menu.sn DESC
    </select>
</mapper>
